.parent, .child {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 3px;
}

.parent h1{
  margin: 0;
  color: rgb(126, 13, 13);
  font-size: 20px;
}

.child h1 {
  color: rgb(56, 13, 126);
  font-size: 20px;
}

.image {
  width: 70%;
}

.image img {
  width: 100%;
}